.best-selling{
    padding: 40px  0;
}
.best-selling span{
    margin-bottom: 5px;
    display: block;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 400;
    color: #808285;
}
.best-selling h2{
    margin-bottom: 50px;
    font-size: 45px;
    line-height: 49px;
    font-family: 'Cinzel';
    font-weight: 400;
    text-align: center;
}
.grid{
    display: flex;
    justify-content: center;
    column-gap: 20px;
}