footer {
    margin-top: 100px;
    padding: 75px 0  0;
    background-color: #faf5f0;
    border-top: 1px solid rgba(0, 0, 0, 0.096);
}
footer .container  {
    display: flex;
    justify-content: space-between;
    align-items: top;
}
.logo img{
    width: 120%;

}
.footer-list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    height: 300px;
}
.footer-list h2  {
    margin-top: 5px;
    font-family: 'Roboto';
    font-weight: 400;
    margin-bottom: 40px;
}
.footer-list li a  , .footer-list li {
    font-size: 18px;
    line-height: 24px;
    color: #000000a8;
    font-family: 'Roboto';
    font-weight: 400;
}
.footer-bottom {
    padding: 40px 0;
    text-align: center;
    margin-top: 50px;
    font-family: 'Roboto';
    font-weight: 300;
    border-top: 1px solid rgba(0, 0, 0, 0.096) ;
    color: rgba(0,0,0,0.7); 
}
 
@media (max-width: 1024px) {
    footer .container {
        padding: 0 50px;
    }
    .logo img{
        width: 100%;
    
    }
}
@media (max-width: 768px) {
    footer .container {
        flex-direction :column;
        row-gap: 40px;
        justify-content: center;
    }
    .logo img{
        width: 120px;
    }
    .footer-list {
        height: auto;
    }
}
@media (max-width: 480px) {
    footer .container {
        row-gap: 20px;
    }
}