.trending {
    margin-top: 140px ;
}
.products-grid {
    margin-bottom: 100px;
    display: flex;
    padding: 0 40px;
    row-gap: 30px;
    column-gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.trending span {
    margin-bottom: 5px !important;
    display: block !important;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 400;
    color: #808285;
}
.trending h2 {
    margin-bottom: 50px;
    font-size: 45px;
    line-height: 49px;
    font-family: 'Cinzel';
    font-weight: 400;
    text-align: center;
}
@media (max-width: 1440px) {

    .trending h2 {
        font-size: 40px;
        line-height: 50px;
    }
}
@media (max-width: 1280px) {
    .trending h2 {
        font-size: 38px;
        line-height: 45px;
    }
}
@media (max-width: 1024px) {
    .trending h2 {
        font-size: 36px;
        line-height: 45px;
    }
}
@media (max-width: 768px) {
    .trending .container {
        margin: 0 auto;
        /* padding: 0 20px; */
        width: 100%;
    }
    .trending h2 {
        font-size: 32px;
        line-height: 40px;
    }
    .products-grid {
        padding: 0 70px;
    }
}
@media (max-width: 480px) {
    .trending h2 {
        font-size: 24px;
        line-height: 30px;
    }
    .products-grid {
        padding: 0 40px;
    }
}