.products {
    border-top: 1px solid rgba(0, 0, 0, 0.096);
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center !important;
}

.products .container h2 {
    margin: 50px 0 20px;
    font-size: 32px;
    line-height: 38px;
    font-family: 'Cinzel';
    font-weight: 400;
    text-align: center;
}
.search-grid {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    margin-bottom: 50px;
}
.search-grid input {

    width: 300px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500 !important;
    color: #000 !important;
    font-family: 'Cinzel';
    border: 1px solid rgba(0, 0, 0, 0.096);
    padding:15px  20px !important;
}
.search-grid select {

    width: 300px;
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, 0.096);
    padding: 15px 20px !important;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    font-family: "Cinzel";
}
.search-grid select option {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    font-family: "Cinzel";
}
.grid {
    row-gap: 50px;
}

@media (max-width: 1440px) {
    .search-grid input {
        width: 250px;
        font-size:  16px;
        line-height: 20px;
    }
    .search-grid select {
        width: 250px;
        font-size: 16px;
    }

}
@media (max-width: 1024px) {    
    .search-grid input {
        width: 200px !important;
        font-size:  14px;
        line-height: 18px;
    }
    .search-grid select {
        width: 247px !important;
        font-size: 14px;
    }
    .products  h2 {
        font-size: 28px  !important;
        line-height: 34px  !important;
    }
}
@media (max-width: 768px) {
    .products h2 {
        font-size: 26px !important;
        line-height: 32px !important;
        max-width: 40%;
        margin : 50px auto  !important;
    }

} 
@media (max-width :600px){
    .search-grid {
        flex-direction: column;
        row-gap: 20px;
        width: 50%;
        margin: 20px auto !important;
    }
    .search-grid input ,.search-grid select{
        padding: 10px 20px !important;
        font-size: 14px;
        line-height: 20px;
    }
    .products h2 {
        max-width: 60%;
    }

}
@media (max-width :486px ){
    .search-grid {
        width: 55%;
    }
}
